.input-panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.patient-selector {
    padding-top: 10px;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}