.report-container {
    margin: 100px 10px;
}

.report-container > .card-data {
    width: 300px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.report-container > .charts {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.report-container > .reports-table {
    margin-top: 40px;
}